body {
    background-color: #118ab2;
    display: flex;
    min-height: 98vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.logo {
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-message {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

.game-controls > input {
    width: 100px;
    height: 100px;
    transition: transform .2s;
}

.game-controls > input:hover {
    transform: scale(1.2);
}